<link rel="stylesheet"  href="/stylesheets/footer.css" />

<div class="row mx-0">
<footer class="text-center text-white fixed-bottom footer-custom">
     
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Abhibhab
     
    <!-- Copyright -->
  </footer>
</div>